body {
    font-family: Calibri, sans-serif;
     background-color: #6ec3f9; 
}
#header {
    background-color: #5A5377;
    color: #fff;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    animation: slideIn 1.0s ease-in-out;
    opacity: 0.87;
}
@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
form h2 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #333;
}
form label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align:left;
}
form input[type="text"], form input[type="password"], form input[type="email"] {
    height: 40px;
    border-radius: 5px;
    padding: 0px 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid thin #aaa;
}
form input[type="submit"] {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form input[type="submit"]:hover {
    background-color: #166fe5;
}
form a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}
form a:hover {
    color: #1877f2;
}
button:hover {
    background-color: #4383cb;
    color: #fff;
  }
  button {
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
  }
.mt-3{
    font-size: 20px;
}
div.mt-3 a {
    font-size: 20px;
  }
  p{
    font-size:20px;
  }
  p a {
    font-size:20px;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  
  .App {
    min-height: 100vh;
  }
  h1{
    color:#fff;
    font-size:50px;
  }
  .checkbox-container {
    background-color: #fff;
    max-width: 350px;
    border-radius: 5px;
    max-height: 950px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    animation: slideIn 1.0s ease-in-out;
    opacity: 0.87;
    font-size: 25px;
    overflow: auto;
    word-wrap: break-word;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .checkbox-input {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .checkbox-input:checked {
    background-color: #ccc;
    border-color: #ccc;
  }
  
  .checkbox-input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #166fe5;
    transition: transform 0.2s ease-out;
    font-size: 16px;
  }
  
  .checkbox-input:checked::before {
    transform: translate(-50%, -50%) scale(1);
  }
  

  ul li label .task-name {
    font-size: 18px;
  }
  .add-task-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-task-container input {
    flex: 1;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    margin-right: 12px;
    width: 150px
  }
  
  .add-task-button {
    height: 50px;
    font-size:20px;
    background-color: #166fe5;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-task-button:hover {
    background-color: #ccc;
  }
  .checkbox-container2 {
    background-color: #fff;
    padding: 20px;
    max-width: 350px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    animation: slideIn 1.0s ease-in-out;
    opacity: 0.87;
    font-size: 25px;
    overflow: auto;
    word-wrap: break-word;
    margin-left: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .checkbox-input2 {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    font-size: 16px;
  }
  
  .checkbox-input2:checked {
    background-color: #ccc;
    border-color: #ccc;
  }
  
  .checkbox-input2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    transition: transform 0.2s ease-out;
    font-size: 16px;
  }
  
  .checkbox-input2:checked::before {
    transform: translate(-50%, -50%) scale(1);
  }
  #logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}
#chat {
  background-color: #fff;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  animation: slideIn 1.0s ease-in-out;
  opacity: 0.87;
  font-size: 25px;
  overflow: auto;
  word-wrap: break-word;
  margin-right: 20px;
  z-index: 3;
  display: flex; 
  align-items: center;
}

.output-container {
  background-color: #fff;
  padding: 20px;
  max-width: 350px;
  max-height: 250px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  animation: slideIn 1.0s ease-in-out;
  opacity: 0.87;
  font-size: 25px;
  margin-right: 20px;
  z-index: 1;
  overflow-y: scroll;
}

.output-text {
  font-size: 20px;
}

#db-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    
}
